<div class="header__container">
  <header id="header" class="container">
    <div class="header__logo">
      <a href="/">
        <img
          src="{{ page | relative }}img/stonks-logo.png"
          alt="Stonks logo"
          title="Stonks logo"
        />
        <span>STONKS</span>
      </a>
    </div>
    
    
    <div class="mobile-menu__button">
      <button aria-label="Mobile menu">
        <img src="{{ page | relative }}img/hamburger.svg" />
    </button>
    </div>
    <nav id="header-nav">
      <ul class="menu__list">
        <li class="menu__list-item"><a href="https://pancakeswap.finance/swap?outputCurrency=0xC2973496E7c568D6EEcBF1d4234A24aa2FD71bd8" target="_blank">TOKEN</a></li>
        <li class="menu__list-item"><a href="{{ page | relative }}docs/stonks_whitepaper_v1.pdf" target="_blank" aria-label="Read whitepaper">WHITEPAPER</a></li>
        <li class="menu__list-item"><a href="https://snapshot.org/#/doggetti.eth" target="_blank">DAO</a></li>
      </ul>
    </nav>
    <div class="connect-wallet__container">
      <button id="connect-wallet-button" aria-label="Connect wallet">
        <img src="{{ page | relative }}img/wallet.svg" alt="Buliding" title="Buliding"/>
      </button>
    </div>
  </header>
</div>
<div class="overlay"></div>
