header {
    margin-top: 50px;
    display: flex;
    align-items: center;
    height: 60px
}

@media screen and (max-width: 1280px) {
    header {
        padding: 0 20px
    }
}

@media screen and (max-width: 1100px) {
    header {
        margin-top: 80px;
        flex-direction: column
    }

    header nav {
        margin-top: 20px;
        flex-wrap: wrap;
        justify-content: center
    }

    header nav > * {
        margin-top: 6px;
        margin-bottom: 6px
    }
}

@media screen and (max-width: 700px) {
    header {
        flex-direction: row
    }

    header .logo__container {
        flex: 1
    }

    header button.header__hamburger-menu {
        display: block
    }

    header nav {
        display: none
    }

    header button.header__hamburger-menu.checked ~ nav {
        display: flex;
        margin-top: 32px;
        order: 999;
        position: absolute;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        right: 20px;
        top: 120px;
        background-color: rgba(16, 16, 32, .95);
        backdrop-filter: blur(4px);
        bottom: -100vh;
        left: 0;
        z-index: 9999
    }
}

.logo__container a {
    display: flex;
    align-items: center
}

header .logo__container img {
    width: 60px;
    height: 60px
}

.logo__container p {
    margin-left: 24px;
    height: 60px;
    line-height: 60px;
    color: #fff;
    font-size: 30px;
    font-weight: 900;
    user-select: none
}

button.header__hamburger-menu {
    display: none;
    height: 36px;
    width: 36px;
    background-image: url("./src/menu.svg");
    background-size: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, .04);
    border-radius: 14px;
    cursor: pointer
}

nav {
    flex: 1;
    display: flex;
    justify-content: flex-end
}

nav button {
    padding: 0 16px;
    height: 36px;
    border-radius: 14px;
    background-color: rgba(255, 255, 255, .04);
    color: #fff;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color .1s
}

nav button[disabled] {
    cursor: default
}

nav button.soon {
    display: block;
    position: relative
}

nav button.soon:hover::after, nav button.soon:active::after {
    opacity: 1
}

nav button.soon::after {
    content: "Soon";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a1a29;
    border-radius: 14px;
    color: #fed02f;
    opacity: 0
}

nav button:hover {
    background-color: rgba(255, 255, 255, .06)
}

nav > * + * {
    margin-left: 12px
}

nav .nav__group > * + * {
    margin-left: 12px
}

nav button.icon {
    width: 36px;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat
}

nav button.icon.twitter {
    background-image: url("./src/twitter.svg")
}

nav button.icon.reddit {
    background-image: url("./src/reddit.svg");
    background-position-y: 5px
}

nav button.icon.discord {
    background-image: url("./src/discord.svg")
}

nav button.icon.telegram {
    background-image: url("./src/telegram.svg")
}

nav button.blue {
    background-color: #146aff
}

nav button.blue:hover {
    background-color: #2877ff
}

section#introduction {
    margin-top: 140px;
    display: flex
}

@media screen and (max-width: 1280px) {
    section#introduction {
        padding: 0 20px;
        margin-top: 200px;
        flex-direction: column;
        align-items: center
    }
}

.introduction__left h1 {
    color: #fff;
    font-size: 48px;
    font-weight: 500
}

.introduction__left h2 {
    margin-top: 24px;
    color: rgba(255, 255, 255, .75);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    padding-right: 58px
}

.introduction__left h2 + h2 {
    margin-top: 16px
}

.introduction__left strong {
    color: #fff;
    font-weight: 600
}

.introduction__left .introduction__buttons {
    display: flex;
    margin-top: 40px
}

.introduction__left button {
    height: 50px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, .08);
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color .2s
}

.introduction__left button:hover {
    background-color: rgba(255, 255, 255, .1)
}

.introduction__left button a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
    line-height: 50px
}

.introduction__left button.primary {
    position: relative;
    background-color: #fed02f;
    color: #101020
}

.introduction__left button.primary::after {
    content: "";
    position: absolute;
    height: 50px;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(254, 208, 47, .2);
    filter: blur(32px);
    z-index: -1
}

.introduction__left button + button {
    margin-left: 12px
}

.introduction__left button .introduction__poocoin-icon {
    margin-left: -8px;
    margin-right: 12px;
    height: 24px;
    width: 24px;
    background-image: url("https://poocoin.app/images/logo/poocoin512.png");
    background-size: 24px
}

@media screen and (max-width: 1280px) {
    .introduction__left {
        padding: 0 10px;
        text-align: center
    }

    .introduction__left h2 {
        padding-right: 0
    }

    .introduction__left .introduction__buttons {
        flex-wrap: wrap;
        justify-content: center
    }

    .introduction__left button {
        margin: 6px;
        margin-bottom: 12px
    }
}

.introduction__right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    width: 640px
}

@media screen and (max-width: 1280px) {
    .introduction__right {
        max-width: 640px;
        width: 100%;
        margin-top: 80px;
        flex-grow: 0
    }

    .introduction__right video {
        max-width: 640px;
        width: 100%
    }
}

.player {
    position: relative;
    font-size: 0
}

.player video {
    border-radius: 4px
}

.player:hover .player__play {
    opacity: 1
}

.player__play {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 120px;
    width: 120px;
    background-color: rgba(0, 0, 0, .5);
    backdrop-filter: blur(6px);
    border-radius: 60px;
    background-image: url("./src/pause.svg");
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    cursor: pointer;
    transition: opacity .2s
}

.player__play.paused {
    background-image: url("./src/play.svg");
    background-position: 45px center;
    background-size: 40px;
    opacity: 1
}

.player__sound {
    position: absolute;
    left: 16px;
    bottom: 16px;
    height: 40px;
    width: 40px;
    background-color: rgba(0, 0, 0, .5);
    backdrop-filter: blur(6px);
    border-radius: 20px;
    background-image: url("./src/muted.svg");
    background-position: center;
    background-size: 24px;
    background-repeat: no-repeat;
    cursor: pointer
}

.player__sound.unmuted {
    background-image: url("./src/speaker.svg")
}

section#tokenomics {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 240px;
    overflow: hidden
}

@media screen and (max-width: 1280px) {
    section#tokenomics {
        justify-content: center
    }
}

.attribute {
    position: relative;
    margin-bottom: 40px;
    flex: 0 1 400px;
    display: flex;
    height: 160px;
    background-color: rgba(255, 255, 255, .04);
    border-radius: 4px;
    overflow: hidden;
    cursor: default
}

@media screen and (max-width: 1280px) {
    .attribute {
        margin: 0 20px;
        margin-bottom: 40px
    }
}

@media screen and (max-width: 440px) {
    .attribute {
        margin-bottom: 20px
    }
}

.attribute:hover .attribute__icon {
    transform: translateY(-4px)
}

.attribute:hover .attribute__icon::before {
    box-shadow: 0 0 80px 64px rgba(254, 208, 47, .15)
}

.attribute__icon {
    flex: 0 0 100px;
    width: 100px;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform .5s
}

.attribute__icon::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 2px;
    border-radius: 1px;
    background-color: rgba(254, 208, 47, .1);
    left: 50px;
    top: 80px;
    box-shadow: 0 0 80px 64px rgba(254, 208, 47, .1);
    z-index: -1;
    transition: box-shadow .5s
}

.attribute__icon.utility {
    background-image: url("./src/utility.svg");
    background-size: 56px
}

.attribute__icon.lock {
    background-image: url("./src/lock.svg");
    background-size: 56px
}

.attribute__icon.redistribution {
    background-image: url("./src/redistribution.svg");
    background-size: 60px
}

.attribute__icon.burn {
    background-image: url("./src/burn.svg");
    background-size: 60px
}

.attribute__icon.liquidity {
    background-image: url("./src/liquidity.svg");
    background-size: 50px
}

.attribute__icon.hardworking {
    background-image: url("./src/hardworking.svg");
    background-size: 54px
}

.attribute__desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px
}

.attribute h1 {
    height: 50px;
    font-size: 24px;
    font-weight: 500;
    color: #fff
}

.attribute h2 {
    color: #e0e0e0;
    font-size: 17px;
    font-weight: 400
}

.attribute h2 a {
    color: #fed02f
}

section#vision {
    padding: 50px;
    margin-top: 140px;
    background-image: radial-gradient(at 0% 0%, rgba(254, 208, 47, 0.1) 0%, transparent 50%);
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 4px
}

@media screen and (max-width: 1280px) {
    section#vision {
        border-radius: 0
    }
}

section#vision:hover .vision__icon {
    transform: translateY(-4px)
}

section#vision .vision__icon {
    background-image: url("./src/vision.svg");
    background-size: 108px;
    width: 108px;
    height: 108px;
    margin-left: -25px;
    margin-top: -25px;
    transition: transform .5s
}

section#vision h1 {
    color: #fff;
    font-size: 36px;
    font-weight: 500
}

section#vision h2 {
    margin-top: 24px;
    color: #fed02f;
    font-size: 20px;
    font-weight: 500
}

section#vision p {
    margin-top: 8px;
    color: rgba(255, 255, 255, .75);
    font-size: 18px;
    font-weight: 400
}

section#vision strong {
    color: #fff;
    font-weight: 600
}

section#vision h1 + p {
    margin-top: 32px
}

.vision__icon {
    background-image: url("./src/vision.svg");
    background-size: 48px
}

section#apps {
    margin-top: 200px
}

section#apps .app {
    display: flex
}

section#apps .app + .app {
    margin-top: 100px
}

@media screen and (max-width: 1280px) {
    section#apps .app {
        flex-direction: column-reverse;
        align-items: center;
        max-width: 640px;
        width: 100%;
        margin: 0 auto
    }

    section#apps .app + .app {
        margin-top: 160px
    }

    section#apps .app .app__preview {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 640px;
        width: 100%
    }

    section#apps .app .app__preview video {
        width: 100%
    }

    section#apps .app .app__details {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        margin-bottom: 40px;
        text-align: center
    }

    section#apps .app .app__details h1 {
        margin-top: 12px;
        margin-bottom: 16px
    }

    section#apps .app .app__details p {
        padding: 0 20px
    }
}

section#apps .app__preview {
    height: 360px;
    width: 640px;
    flex-shrink: 0;
    background-color: #000;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px
}

section#apps .app__preview.dapp {
    background-image: url("./src/stonk_app_vid.png")
}

section#apps .app__preview.listing {
    background-image: url("./src/coin_listing_vid.png")
}

section#apps .app__details {
    margin-left: 48px
}

section#apps .app__logo {
    width: 56px;
    height: 56px
}

section#apps .app__logo.dapp {
    background-image: url("./src/stonk_app_logo.svg")
}

section#apps .app__logo.listing {
    background-image: url("./src/coin_listing_logo.svg")
}

section#apps .app h1 {
    margin-top: 30px;
    color: #fed02f;
    font-size: 28px;
    font-weight: 500
}

section#apps .app p {
    margin-top: 10px;
    color: rgba(255, 255, 255, .75);
    font-size: 18px;
    font-weight: 400
}

section#apps .app p strong {
    color: #fff;
    font-weight: 500
}

section#roadmap {
    position: relative;
    margin-top: 240px;
    display: flex;
    flex-direction: column;
    align-items: center
}

.roadmap__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px
}

.roadmap__header .roadmap__icon {
    height: 108px;
    width: 108px;
    background-image: url("./src/roadmap.svg")
}

.roadmap__header h1 {
    margin-top: -16px;
    color: #fff;
    font-size: 36px;
    font-weight: 500
}

.roadmap__header h2 {
    padding: 0 20px;
    margin-top: 8px;
    color: rgba(255, 255, 255, .75);
    font-size: 18px;
    font-weight: 400;
    text-align: center
}

.roadmap__timeline {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center
}

.roadmap__phase {
    position: relative;
    width: 50%
}

.roadmap__phase::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    margin-top: 12px;
    border-radius: 5px;
    background-color: #fed02f;
    box-shadow: 0 0 30px 2.5px #fed02f
}

.roadmap__phase.inactive::before {
    width: 8px;
    height: 8px;
    border: 2px solid #c3c3c7;
    box-shadow: none;
    border-radius: 6px;
    background-color: #101020
}

.roadmap__phase:nth-child(1) {
    padding-top: 30px
}

.roadmap__phase:last-child {
    padding-bottom: 30px
}

.roadmap__phase:nth-child(2n+1) {
    align-self: flex-end;
    margin-right: 1px;
    padding-left: 36px;
    border-left: 2px solid rgba(255, 255, 255, .75)
}

.roadmap__phase:nth-child(2n+1)::before {
    left: -6px
}

.roadmap__phase:nth-child(2n+1).inactive::before {
    left: -7px
}

.roadmap__phase:nth-child(2n) {
    align-self: flex-start;
    margin-left: 1px;
    padding-right: 36px;
    border-right: 2px solid rgba(255, 255, 255, .75);
    text-align: right
}

.roadmap__phase:nth-child(2n)::before {
    right: -6px
}

.roadmap__phase:nth-child(2n).inactive::before {
    right: -7px
}

.roadmap__phase + .roadmap__phase {
    padding-top: 40px
}

.roadmap__phase h1 {
    color: #fed02f;
    font-size: 28px;
    font-weight: 500
}

.roadmap__phase ol {
    margin-top: 16px;
    list-style-type: none
}

.roadmap__phase li {
    color: rgba(255, 255, 255, .55);
    font-weight: 400;
    font-size: 18px
}

.roadmap__phase li + li {
    margin-top: 12px
}

.roadmap__phase li.done {
    color: #fff
}

section#team {
    margin-top: 200px
}

section#team .team__header {
    display: flex;
    flex-direction: column;
    align-items: center
}

section#team .team__header .team__icon {
    height: 108px;
    width: 108px;
    background-image: url("./src/team.svg")
}

section#team .team__header h1 {
    margin-top: -16px;
    color: #fff;
    font-size: 36px;
    font-weight: 500
}

section#team .team__header h2 {
    margin-top: 8px;
    padding: 0 20px;
    color: rgba(255, 255, 255, .75);
    font-size: 18px;
    font-weight: 400;
    text-align: center
}

section#team .team__members {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

section#team .team__member {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15px;
    width: 300px;
    border-radius: 4px;
    margin-bottom: 80px
}

section#team .team__member h1 {
    margin-top: 16px;
    color: #fed02f;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: .2px;
    text-shadow: 0 0 20px rgba(254, 208, 47, .5)
}

section#team .team__member h2 {
    margin-top: 4px;
    color: rgba(255, 255, 255, .6);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .2px
}

section#team .team__member p {
    margin-top: 20px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    letter-spacing: .2px
}

section#memes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 260px;
    padding-bottom: 60px;
    background-color: rgba(255, 255, 255, .04);
    border-radius: 4px;
    overflow: hidden
}

section#memes .memes__header {
    display: flex;
    flex-direction: column;
    align-items: center
}

section#memes .memes__icon {
    margin-top: 16px;
    height: 108px;
    width: 108px;
    background-image: url("./src/memes.svg")
}

section#memes h1 {
    margin-top: -10px;
    color: #fff;
    font-size: 36px;
    font-weight: 500
}

section#memes h2 {
    margin-top: 8px;
    padding: 0 20px;
    color: rgba(255, 255, 255, .75);
    font-size: 18px;
    font-weight: 400;
    text-align: center
}

section#memes .memes__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px
}

section#memes .memes__gallery img {
    margin: 20px
}

section#memes a.memes__more {
    margin-top: 70px
}

section#memes a.memes__more button {
    height: 50px;
    width: 200px;
    background-color: #fed02f;
    border-radius: 4px;
    box-shadow: 0 0 30px rgba(254, 208, 47, .3);
    color: #101020;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer
}

section#rewards {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center
}

section#rewards .rewards__icon {
    margin-top: 16px;
    height: 108px;
    width: 108px;
    background-image: url("./src/rewards.svg")
}

section#rewards h1 {
    margin-top: -10px;
    padding: 0 10px;
    color: #fff;
    font-size: 36px;
    font-weight: 500;
    text-align: center
}

section#rewards iframe {
    margin-top: 60px;
    width: 100%;
    max-width: 750px;
    height: 830px
}

footer {
    margin-top: 150px;
    margin-bottom: 40px;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    letter-spacing: .2px
}

footer .footer__links {
    color: #fed02f
}

footer .footer__links a {
    margin: 8px
}

footer .footer__disclaimer {
    margin-top: 30px;
    line-height: 20px;
    color: rgba(255, 255, 255, .6)
}

footer strong {
    color: #fff
}

footer strong#donate-address {
    position: relative;
    cursor: pointer
}

footer strong#donate-address.copied:hover::after {
    content: "Copied"
}

footer strong#donate-address:hover::after {
    content: "Click to copy";
    display: block;
    position: absolute;
    top: -12px;
    left: 100%;
    margin-left: 6px;
    width: 100px;
    background-color: #146aff;
    padding: 4px 0;
    border-radius: 4px;
    font-weight: 400
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

a {
    color: inherit;
    font: inherit;
    text-decoration: none
}

button {
    border: 0 solid transparent;
    font-family: "Roboto", sans-serif
}

html {
    font-size: 100%
}

html, body {
    width: 100%
}

body {
    background-color: #101020;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 500
}

.page__container {
    margin: 0 auto;
    width: 100%;
    max-width: 1280px
}


.beta__form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.beta__form > label {
    padding: 0 48px;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    color: rgba(255, 255, 255, .75);
    font-weight: 500;
}

.beta__form > label > input {
    margin-top: 10px;
    padding: 0 14px;
    height: 40px;
    display: block;
    width: 100%;
    border-radius: 4px;
    border: 0;
    background-color: rgba(255, 255, 255, .1);
    outline: none;
    color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.form__wrapper {
    display: flex;
    justify-content: center;
}

.form__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    margin-top: 150px;
    margin-bottom: 60px;
    padding-top: 35px;
    background-color: rgba(255, 255, 255, .04);
    border-radius: 4px;
    cursor: default;
}

.form__box h2 {
    padding: 0 48px;
    margin-bottom: 4px;
    font-size: 24px;
    font-weight: 500;
}

.form__footer {
    margin-top: 20px;
    padding: 24px 48px;
    display: flex;
    justify-content: flex-end;
    background-color: rgba(255, 255, 255, .04);
}

.submit-button {
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #fed02f;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    color: #101020;
    cursor: pointer;
    transition: background-color .1s;
}

.submit-button:hover {
    background-color: #e6f55e;
}

@media screen and (max-width: 500px) {
    .form__box {
        border-radius: 0;
        padding-top: 80px;
    }

    .beta__form > label > input {
        height: 44px;
    }

    .form__footer {
        padding: 30px 48px;
        margin-top: 40px;
    }

    .submit-button {
        padding: 14px 20px;
    }
}