section#disclaimer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.85);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
}

section#disclaimer .disclaimer__container {
    display: flex;
    flex-direction: column;
    max-width: 620px;
    padding: 32px 40px;
    background-color: #191929;
    border-radius: 4px;
}

section#disclaimer h1 {
    margin-bottom: 30px;
    color: #ffffff;
    font-weight: 500;
    text-align: center;
    cursor: default;
}

section#disclaimer p {
    color: #e0e0e0;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    text-align: justify;
    cursor: default;
}

@media screen and (max-width: 660px) {
    section#disclaimer .disclaimer__container {
        max-width: 100%;
        border-radius: 0;
    }   
}

@media screen and (max-width: 440px) {
    section#disclaimer p {
        font-size: 14px;
    }
}

section#disclaimer p > span {
    white-space: nowrap;
}

section#disclaimer p + p {
    margin-top: 16px;
}

section#disclaimer a {
    color: #fed02f;
}

section#disclaimer button {
    margin-top: 24px;
    padding: 0 16px;
    height: 36px;
    background-color: #fed02f;
    border-radius: 8px;
    color: #101010;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

section#guide {
    margin-top: 140px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1350px) {
    section#guide {
        padding: 0 20px;
    }
}

section#guide .guide__section {
    padding: 60px;
    background-color: rgba(255, 255, 255, 0.04);
    border-radius: 4px;
}

@media screen and (max-width: 700px) {
    section#guide {
        padding: 0;
    }

    section#guide .guide__section {
        padding: 60px 40px;
        border-radius: 0;
    }
}

section#guide .guide__section + .guide__section {
    margin-top: 30px;
}

section#guide .guide__header {
    font-size: 36px;
    cursor: default;
}

section#guide ol.guide__steps {
    margin-top: 24px;
    list-style-type: none;
}

section#guide ol.guide__steps > li {
    position: relative;
    margin-left: 22px;
    line-height: 32px;
    color: #dadada;
    font-size: 18px;
    font-weight: 400;
}

section#guide ol.guide__steps > li::before {
    content: '';
    position: absolute;
    left: -22px;
    top: 13px;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: #fed02f;
}

section#guide ol.guide__steps > li a {
    color: #fed02f;
    font-weight: 500;
}

section#guide ol.guide__steps > li mark {
    background-color: transparent;
    color: #dadada;
    text-decoration: underline;
}

section#guide ol.guide__steps > li strong {
    color: #ffffff;
    font-weight: 500;
}

section#guide .note {
    margin-top: 8px;
    margin-bottom: 16px;
    padding: 12px 0;
    padding-left: 16px;
    border-left: 2px solid #fed02f;
    background-color: rgba(254, 208, 47, 0.05);
    border-radius: 0 4px 4px 0;
}

section#guide .note__item {
    display: flex;
    line-height: 28px;
    font-size: 16px;
}

@media screen and (max-width: 750px) {
    section#guide .note__item {
        flex-direction: column;
        line-height: 24px;
    }

    section#guide .note__item + .note__item {
        margin-top: 12px;
    }
}

section#guide .note__key {
    width: 154px;
    min-width: 154px;
    cursor: default;
}

section#guide .note__value {
    color: #ffffff;
    font-weight: 500;
}

section#navigate-to-dapp {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

section#navigate-to-dapp > button {
    display: flex;
    align-items: center;
    padding-right: 32px;
    padding-left: 6px;
    height: 72px;
    background-color: #fed02f;
    border-radius: 8px;
    color: #101010;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

section#navigate-to-dapp > button > img {
    margin-right: 20px;
}